version: "3"

services:
  jupyterhub:
    build: .
    container_name: jupyterhub_server
    ports:
      - "8000:8000"
    volumes:
      # Mount file cấu hình vào trong container
      - ./jupyterhub_config.py:/srv/jupyterhub/jupyterhub_config.py
      # Mount socket docker để JupyterHub điều khiển được Docker bên ngoài
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      # Thay thế bằng Secret của bạn
      KEYCLOAK_CLIENT_SECRET: "nOIqSEe9fzVzKcBchPD4w2GQHKHHxxcO"

      # URL của Keycloak (Lưu ý: Nếu Keycloak chạy local, hãy dùng IP máy LAN
      # hoặc host.docker.internal thay vì localhost)
      KEYCLOAK_URL: "http://host.docker.internal:8080"
      KEYCLOAK_REALM: "my_realm"
      JUPYTERHUB_CRYPT_KEY: "2a84b3c9d1e5f7a0b2c4d6e8f1a3b5c7d9e0f2a4b6c8d0e1f3a5b7c9d1e2f3a4"
      # (Nếu bạn tạo realm khác thì sửa chữ 'master' thành tên realm đó)
